@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --yellow: #fecb02;
  --white: #faf6eb;
  --white-transparent: hsl(44, 60%, 95%, 0.2);
  --black: #404040;
  --black-transparent: hsl(0, 0%, 25%, 0.1);
}

h1 {
  font-family: var(--font-outfit);
  font-size: 12.5rem;
  font-weight: 400;
  color: var(--white);
}
h5 {
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
}
h4 {
  font-family: var(--font-jakarta);
  font-size: 1.2rem;
  font-weight: 700;
}
h3 {
  font-family: var(--font-jakarta);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--black);
}
h6 {
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 70%);
}
p {
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}

.main-button {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* navbar section____________ */
.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1440px;
  height: 100dvh;
  padding: 20px;
  pointer-events: none;
}
.navbar-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  pointer-events: auto;
}
.navbar-head-bg {
  background-color: var(--white-transparent);
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(10px);
}
.navbar-head ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.navbar-head ul li a {
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}
.navbar-head ul li a:hover {
  text-decoration: underline;
}
.navbar-short-logo {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.navbar-short-logo img {
  margin: 15px;
}

/* hero section______________ */
.hero-bg {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-bg-banana {
  width: 100%;
  position: absolute;
}
.hero-text {
  line-height: 150px;
  z-index: 2;
}
.hero-text div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.hero-text div:nth-child(3) {
  display: flex;
  justify-content: end;
}

.hero-content {
  width: 100%;
  max-width: 1440px;
  height: 100dvh;
  position: absolute;
  z-index: 4;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.hero-desc {
  width: 190px;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--black-transparent);
}

/* down section_________________ */
.meter {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e0dede;
  background: linear-gradient(
    0deg,
    rgba(224, 222, 222, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: relative;
}
.footer-image1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.footer-image2 {
  position: absolute;
  right: 0;
  top: -200px;
  z-index: 0;
}
.footer-image3 {
  position: absolute;
  left: 0;
  z-index: 0;
}

/* meter section_________________ */
#Meter {
  max-width: 1440px;
  width: 100%;
  height: 100dvh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meter-content {
  background-color: white;
  border-radius: 40px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.m-c-upload {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  border: 3px dotted var(--black-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 30px;
  text-align: center;
  position: relative;
}
.m-c-upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.m-c-info {
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.m-c-info p {
  color: var(--black);
}
.inner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.circle-percent {
  width: 75px;
  height: 75px;
}

/* Container utama untuk mengatur ukuran */
.circular-container {
  font-family: var(--font-jakarta);
  margin: 5px;
}

/* Lingkaran progres (kuning) */
.CircularProgressbar-path {
  stroke-width: 10; /* Garis lebih tebal sesuai gambar */
  stroke-linecap: round;
}

/* Lingkaran latar belakang (abu-abu pudar) */
.CircularProgressbar-trail {
  stroke: var(--white) !important;
  stroke-width: 10;
}

/* Styling teks persentase */
.CircularProgressbar-text {
  fill: var(--black) !important;
  font-size: 24px !important;
  font-weight: 600 !important; /* Bold sesuai gambar */
  dominant-baseline: middle;
  text-anchor: middle;
}

.info-gula-hari {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.info-detail {
  width: 100%;
  height: fit-content;
  padding: 5px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 2px;
}

.warning-data {
  width: 100%;
  background-color: #f77069;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.warning-data p {
  color: var(--white);
  text-align: center;
}
/* about section_________________ */
#About {
  width: 100%;
  max-width: 1440px;
  height: 100dvh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.about-image {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 150px) repeat(2, 1fr);
  grid-template-rows: repeat(3, 150px) repeat(2, 1fr);
}
.about-image button {
  border-radius: 10px;
  border: 1px solid var(--black-transparent);
  background-color: var(--black-transparent);
  backdrop-filter: blur(10px);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.about-image button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-image button img {
  width: 100%;
}

.a-i-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.a-i-2 {
  grid-area: 1 / 2 / 2 / 4;
}
.a-i-3 {
  grid-area: 2 / 1 / 3 / 2;
}
.a-i-4 {
  grid-area: 2 / 2 / 3 / 3;
}
.a-i-5 {
  grid-area: 2 / 3 / 3 / 4;
}
.a-i-6 {
  grid-area: 3 / 1 / 4 / 3;
}
.a-i-7 {
  grid-area: 3 / 3 / 4 / 4;
}

.about-desc {
  width: 100%;
  max-width: 490px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.a-d-algoritm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.a-d-a-content {
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--black-transparent);
  border: 1px solid var(--black-transparent);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.a-d-title {
  padding: 20px;
  background-color: var(--black-transparent);
  border: 1px solid var(--black-transparent);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.a-d-title p {
  color: var(--black);
}

.a-d-t-link {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.a-d-t-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
}
.a-d-t-link a:hover {
  text-decoration: underline;
  color: var(--black);
}
