@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --yellow: #fecb02;
  --white: #faf6eb;
  --white-transparent: hsl(44, 60%, 95%, 0.2);
  --black: #404040;
  --black-transparent: hsl(0, 0%, 25%, 0.1);
}

h1 {
  font-family: var(--font-outfit);
  font-size: 12.5rem;
  font-weight: 400;
  color: var(--white);
}
p {
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}

.main-button {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* navbar section____________ */
.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1440px;
  height: 100dvh;
  padding: 20px;
}
.navbar-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar-head-bg {
  background-color: var(--white-transparent);
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(10px);
}
.navbar-head ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.navbar-head ul li a {
  font-family: var(--font-jakarta);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}
.navbar-head ul li a:hover {
  text-decoration: underline;
}
.navbar-short-logo {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* hero section______________ */
.hero-bg {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-bg-banana {
  width: 100%;
  position: absolute;
}
.hero-text {
  line-height: 150px;
  z-index: 2;
}
.hero-text div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.hero-text div:nth-child(3) {
  display: flex;
  justify-content: end;
}

.hero-content {
  width: 100%;
  max-width: 1440px;
  height: 100dvh;
  position: absolute;
  z-index: 4;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.hero-desc {
  width: 190px;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--black-transparent);
}

/* meter section_________________ */
.meter {
  width: 100%;
  height: 200vh;
}
