@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --yellow: "#FECB02";
  --white: "#FAF6EB";
  --black: "#404040";
}
