@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --yellow: #fecb02;
  --white: #faf6eb;
  --black: #404040;
}

h1 {
  font-family: var(--font-outfit);
  font-size: 12.5rem;
  font-weight: 400;
  color: var(--white);
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero section______________ */
.hero-bg {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-bg-banana {
  width: 100%;
  position: absolute;
}
.hero-text {
  line-height: 150px;
  z-index: 2;
}
.hero-text div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.hero-text div:nth-child(3) {
  display: flex;
  justify-content: end;
}
